<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Área do Veterinário</title>
    <link rel="stylesheet" href="/static/estilo-areavet.css">
</head>
<body>
    <header>
        <h1>Área do Veterinário</h1>
        <nav>
            <ul>
                <li><a href="/" class="button-home">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <a href="/cadastrar-consulta/" class="button-areavet">Registrar Consultas</a>
            <a href="/ver-consulta/" class="button-areavet">Ver Consultas</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Veterinário</p>
    </footer>
</body>
</html>
